streamlit
opencv-python-headless
numpy
Pillow
trimesh
git+https://github.com/nicolai-wachenschwan/streamlit-drawable-canvas.git
scikit-image
scipy
stpyvista
pyvista<0.45.0
vtk
manifold3d
pydeck
pandas
bokeh==2.4.3
